h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
  .myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
 
.nav {
    background: #eee !important;
    margin: 0 !important;
    width: 100% !important;
}
