body {
background-color: #e5e5f7;
background-size: 11px 11px;
background-image: repeating-linear-gradient(45deg, #eee 0, #eee 1.1px, #eee 0, #e5e5f7 50%);
}
.container {
    background: #fff;
    padding: 20px;
}
h1 {
  font-size: 300%;
}
p  {
  font-size: 160%;
}
.myDiv {
  border: 1px solid #ccc;
  background-color: #eee;    
  text-align: center;
}
 
.nav {
    background: #eee !important;
    margin: 0 !important;
    width: 100% !important;
}
.nav a.btn {
    padding: 1rem;
    font-weight: bold !important;
    border-top: 4px solid;
    border-bottom: 4px solid;
}
